## EXAM 2: ANSWERS

### Andrea Álvarez Pérez

### Problem 1: Controls

In [15]:
import csv
import pandas as pd

germ_data = pd.read_csv('Germplasm.tsv', sep='\t')
loc_data = pd.read_csv('LocusGene.tsv', sep ='\t')
i = 0
sum = len(germ_data)-1

list1 = germ_data['Locus']
list2 = loc_data['Locus']

if(set(list1) == set(list2)):
    print("Lines of data in Germplasm.tsv and LocusGene are in the same sequence.")
else:
    print("Lines of data in Germplasm.tsv and LocusGene are NOT in the same sequence.")

Lines of data in Germplasm.tsv and LocusGene are in the same sequence.

### Problem 2: Design and create the database

In [2]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [3]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
8 rows affected.

[('information_schema',),
 ('LIMS',),
 ('answers_exam2',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [4]:
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create database exam2_answers"
        cursor.execute(sql)
        sql = "show databases"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        for result in results:
            print(result['Database'])
        print("")

finally:
    print("")
    connection.close()

[{'Database': 'information_schema'}, {'Database': 'LIMS'}, {'Database': 'answers_exam2'}, {'Database': 'exam2_answers'}, {'Database': 'germplasm'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'sys'}, {'Database': 'testing123'}]
information_schema
LIMS
answers_exam2
exam2_answers
germplasm
mysql
performance_schema
sys
testing123

In [5]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam2_answers',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create table germplasm(locus VARCHAR(20) NOT NULL PRIMARY KEY, germplasm VARCHAR(50) NOT NULL, phenotype VARCHAR (1000) NOT NULL, pubmed INTEGER NOT NULL )"
        cursor.execute(sql)
        sql = "create table locusgene(locus VARCHAR(20) NOT NULL PRIMARY KEY, gene VARCHAR(20) NOT NULL, proteinlength INTEGER NOT NULL )"
        cursor.execute(sql)
finally:
    print("")
    connection.close()

%sql use exam2_answers
%sql desc germplasm
%sql desc locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(20)', 'NO', '', None, ''),
 ('proteinlength', 'int(11)', 'NO', '', None, '')]

In [6]:
%sql use exam2_answers

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

### Problem 3: Fill the database

In [7]:
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam2_answers',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

with open("Germplasm.tsv", "r") as f, open("Germplasm2.tsv",'w') as f1:
    next(f) # skip header line
    for line in f:
        f1.write(line)
f1.close()

germplasm = open("Germplasm2.tsv", "r")

try:
    with connection.cursor() as cursor:
        sql = "INSERT INTO germplasm (locus, germplasm, phenotype, pubmed) VALUES (%s, %s, %s, %s)"
        for line in germplasm.readlines():
            field = line.split("\t")
            data = (field[0], field[1], field[2], field[3])
            cursor.execute(sql, data) 
            connection.commit()
        
finally:
    print("")
    connection.close()

AT1G01040	CS3828	Increased abundance of miRNA precursors.	17369351

AT1G01060	lhy-101	The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.	16891401

AT1G01140	SALK_058629	hypersensitive to low potassium media	17486125

AT1G01220	SALK_012400C	fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.	18199744

AT2G03720	SALK_042433	Multiple straight hairs	16367956

AT2G03800	gek1-1	Ethanol hypersensitivity.	15215505

AT2G04240	xerico	Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.	17933900

AT2G05210	pot1-1	No visible phenotype.	17627276

AT3G02130	rpk2-2	The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.	17419837

AT3G02140	afp4-1	Decreased germination on high concentrations of glucose and sorbitol.	18484180

AT3G02230	rgp1-1	rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.	21478444

AT3G02260	tir3-1 RGLG1:rglg1 rglg2	The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.	17586653

AT3G02310	sep2-1	Non-described subtle phenotype.	10821278

AT3G02680	atnbs1-1	Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.	17672843

AT3G02850	CS3816	The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.	17568770

AT3G02870	vtc4-1	ascorbate deficient	16595667

AT3G03260	hdg8-1	No visible phenotype.	16778018

AT4G14790	pdd17	Defective pollen development.	19237690

AT4G15210	bmy1-2	Plants cold-shocked for 6h have an increased starch content compared to wildtype.	16297066

AT4G15560	cla1-1	Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.	10982425

AT4G15570	maa3	Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.	18772186

AT4G15802	Athspb-2	Early flowering, reduced fertility, aborted seeds.	20388662

AT4G15880	esd4-2	Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.	17513499

AT4G16420	prz1-1	Altered response to auxin and cytokinin	12747832

AT4G16480	atint4-2	No visible phenotype.	16603666

AT5G10480	pas2-3	Segregates 25% embryo lethal.	18799749

AT5G10510	plt3-1	Short roots and shortened root meristem.	17960244

AT5G11110	kns2	Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.	18779216

AT5G11260	hy5-101	Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.	16891401

AT5G11510	myb3r4-1	No visible phenotype.	17287251

AT5G12200	pyd2-2	The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.	19413687

AT5G13290	crn-1	Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.	12345678

In [8]:
%sql SELECT * FROM germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', 17369351),
 ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', 16891401),
 ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', 17486125),
 ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', 18199744),
 ('AT2G03720', 'SALK_042433', 'Multiple straight hairs', 16367956),
 ('AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', 15215505),
 ('AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', 17933900),
 ('AT2G05210', 'pot1-1', 'No visible phenotype.', 17627276),
 ('AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', 17419837),
 ('AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', 18484180),
 ('AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', 21478444),
 ('AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', 17586653),
 ('AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', 10821278),
 ('AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', 17672843),
 ('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770),
 ('AT3G02870', 'vtc4-1', 'ascorbate deficient', 16595667),
 ('AT3G03260', 'hdg8-1', 'No visible phenotype.', 16778018),
 ('AT4G14790', 'pdd17', 'Defective pollen development.', 19237690),
 ('AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', 16297066),
 ('AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', 10982425),
 ('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186),
 ('AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', 20388662),
 ('AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', 17513499),
 ('AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', 12747832),
 ('AT4G16480', 'atint4-2', 'No visible phenotype.', 16603666),
 ('AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', 18799749),
 ('AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', 17960244),
 ('AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', 18779216),
 ('AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', 16891401),
 ('AT5G11510', 'myb3r4-1', 'No visible phenotype.', 17287251),
 ('AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', 19413687),
 ('AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', 12345678)]

In [10]:
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam2_answers',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

with open("LocusGene.tsv", "r") as f, open("LocusGene2.tsv",'w') as f1:
    next(f) # skip header line
    for line in f:
        f1.write(line)
f1.close()

locusgene = open("LocusGene2.tsv", "r")

try:
    with connection.cursor() as cursor:
        sql = "INSERT INTO locusgene (locus, gene, proteinlength) VALUES (%s, %s, %s)"
        for line in locusgene.readlines():
            field = line.split("\t")
            data = (field[0], field[1], field[2],)
            cursor.execute(sql, data) 
            connection.commit()
        
finally:
    print("")
    connection.close()

AT1G01040	DCL1	332

AT1G01060	LHY	290

AT1G01140	CIPK9	223

AT1G01220	FKGP	190

AT2G03720	MRH6	189

AT2G03800	GEK1	196

AT2G04240	XERICO	256

AT2G05210	POT1A	221

AT3G02130	RPK2	284

AT3G02140	TMAC2	300

AT3G02230	RGP1	301

AT3G02260	BIG	279

AT3G02310	SEP2	175

AT3G02680	NBS1	190

AT3G02850	SKOR	234

AT3G02870	VTC4	311

AT3G03260	HDG8	194

AT4G14790	SUV3	312

AT4G15210	BAM5	313

AT4G15560	DXS	219

AT4G15570	MAA3	294

AT4G15802	HSBP	254

AT4G15880	ESD4	265

AT4G16420	ADA2B	279

AT4G16480	INT4	284

AT5G10480	PAS2	301

AT5G10510	AIL6	310

AT5G11110	SPS2	232

AT5G11260	HY5	221

AT5G11510	MYB3R-4	336

AT5G12200	PYD2	310

AT5G13290	CRN	189

In [11]:
%sql SELECT * FROM locusgene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'DCL1', 332),
 ('AT1G01060', 'LHY', 290),
 ('AT1G01140', 'CIPK9', 223),
 ('AT1G01220', 'FKGP', 190),
 ('AT2G03720', 'MRH6', 189),
 ('AT2G03800', 'GEK1', 196),
 ('AT2G04240', 'XERICO', 256),
 ('AT2G05210', 'POT1A', 221),
 ('AT3G02130', 'RPK2', 284),
 ('AT3G02140', 'TMAC2', 300),
 ('AT3G02230', 'RGP1', 301),
 ('AT3G02260', 'BIG', 279),
 ('AT3G02310', 'SEP2', 175),
 ('AT3G02680', 'NBS1', 190),
 ('AT3G02850', 'SKOR', 234),
 ('AT3G02870', 'VTC4', 311),
 ('AT3G03260', 'HDG8', 194),
 ('AT4G14790', 'SUV3', 312),
 ('AT4G15210', 'BAM5', 313),
 ('AT4G15560', 'DXS', 219),
 ('AT4G15570', 'MAA3', 294),
 ('AT4G15802', 'HSBP', 254),
 ('AT4G15880', 'ESD4', 265),
 ('AT4G16420', 'ADA2B', 279),
 ('AT4G16480', 'INT4', 284),
 ('AT5G10480', 'PAS2', 301),
 ('AT5G10510', 'AIL6', 310),
 ('AT5G11110', 'SPS2', 232),
 ('AT5G11260', 'HY5', 221),
 ('AT5G11510', 'MYB3R-4', 336),
 ('AT5G12200', 'PYD2', 310),
 ('AT5G13290', 'CRN', 189)]

### Problem 4: Create reports, written to a file

#### 1. Create a report that shows the full, joined, content of the two database tables (including a header line)
#### 2. Create a joined report that only includes the Genes SKOR and MAA3
#### 3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)
#### 4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule!

All reports should be written to the same file. You may name the file anything you wish.

In [16]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[]